{% extends 'template.html' %}

{% block content %}

    <style>
        form {
            width: 40vw;
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }
    </style>

    <form method="POST">
        {% csrf_token %}
        <div class="md-form">
            <input type="text" id="form1" class="form-control">
            <label for="form1">用户名</label>
        </div>
        <div class="md-form">
            <input type="text" id="form1" class="form-control">
            <label for="form1">密码</label>
        </div>
        <button type="submit" class="btn btn-primary" style="">登录</button>
    </form>
{% endblock %}